{% extends 'base.html' %}

{% load static %}

{% block title %}Atualizar Participante{% endblock %}

{% block content %}

<style>
    .img-participante {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
</style>

<div class="container mt-4">
    <h2 class="text-center mb-4">Atualizar Participante</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {% if participante.foto %}
                <img src="{{ participante.foto.url }}" alt="Foto Atual" class="img-fluid mt-2 img-participante">
            {% else %}
                 <img src="{% static 'image/sem_foto.png' %}" alt="Foto Padrão" class="img-fluid mt-2 img-participante">
            {% endif %}
            <br>
            <label for="id_foto"></label>
            <input type="file" name="foto" id="id_foto" class="form-control">
            
        </div>
        <div class="form-group">
            <label for="id_nome">Nome:</label>
            <input type="text" name="nome" id="id_nome" class="form-control" value="{{ participante.nome }}" required>
        </div>
        <div class="form-group">
            <label for="id_cpf">CPF:</label>
            <input type="text" name="cpf" id="id_cpf" class="form-control" value="{{ participante.cpf }}" required>
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" class="form-control" value="{{ participante.email }}" required>
        </div>
        <div class="form-group">
            <label for="id_nome_empresa">Empresa:</label>
            <input type="text" name="nome_empresa" id="id_nome_empresa" class="form-control" value="{{ participante.nome_empresa }}" required>
        </div>
        <div class="form-group">
            <label for="id_cnpj_empresa">CNPJ da Empresa:</label>
            <input type="text" name="cnpj_empresa" id="id_cnpj_empresa" class="form-control" value="{{ participante.cnpj_empresa }}">
        </div>
        <div class="form-group">
            <label for="id_telefone">Telefone:</label>
            <input type="text" name="telefone" id="id_telefone" class="form-control" value="{{ participante.telefone }}" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{% url 'detalhes_participante' participante.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
