<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Efetuado com Sucesso</title>
    <!-- Adicionando o link para o Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container my-5">
        <!-- Card com mensagem de sucesso -->
        <div class="card shadow-lg">
            <div class="card-header text-center bg-success text-white">
                <h4>Cadastro Efetuado com Sucesso!</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-center">
                    <strong>Olá, seu cadastro foi realizado com sucesso. Agradecemos pelo seu interesse!</strong>
                </p>
                <!--<p class="text-center">Se você já tiver um cadastro, faça o login para continuar. Caso contrário, volte à página inicial para explorar outras opções.</p>-->
            </div>
            <div class="card-footer text-center">
                <!--<a href="/" class="btn btn-primary">Voltar à Página Inicial</a>-->
                <a>Dúvidas? Entre em contato (xx) xxxx-xxxx</a>
            </div>
        </div>
    </div>

    <!-- Adicionando o script do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
