{% extends 'base.html' %}

{% load static %}

{% block title %}Detalhes do Evento{% endblock %}

{% block content %}

    <style>
        .evento-imagem {
            width: 300px; /* Defina a largura desejada */
            height: 200px; /* Defina a altura desejada */
            object-fit: cover; /* Ajusta a imagem para cobrir o espaço definido */
        }
    </style>

    <div class="container">
        <h1>{{ evento.nome }}</h1>
        {% if evento.foto %}
            <img src="{{ evento.foto.url }}" alt="Imagem do evento" class="img-fluid mb-4 evento-imagem  evento-imagem">
        {% else %}
            <img src="{% static 'image/placeholder.png' %}" alt="Imagem do evento" class="img-fluid mb-4 evento-imagem  evento-imagem">
        {% endif %}

        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Descrição:</h5>
                <p class="card-text">{{ evento.descricao }}</p>

                <h5 class="card-title">Data do Evento:</h5>
                <p class="card-text">{{ evento.data }}</p>

                <h5 class="card-title">Localização:</h5>
                <p class="card-text">{{ evento.local }}</p>
                
                <a href="{% url 'home' %}" class="btn btn-primary">Voltar para a página inicial</a>
            </div>
        </div>
    </div>
{% endblock %}
