{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<style>
    .evento-imagem {
        width: 300px; /* Defina a largura desejada */
        height: 200px; /* Defina a altura desejada */
        object-fit: cover; /* Ajusta a imagem para cobrir o espaço definido */
    }
</style>

<div class="container">
    <h1 class="text-center my-4 ">Eventos 2025</h1>
    <div class="row justify-content-center">
        {% for evento in eventos %}
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card h-100">
                    <img src="{{ evento.foto.url }}" class="card-img-top evento-imagem" alt="Imagem do evento" style="height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ evento.nome }}</h5>
                        <p class="card-text flex-grow-1">{{ evento.descricao }}</p>
                        <a href="{% url 'detalhes_evento' evento.id %}" class="btn btn-primary mt-auto">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">Nenhum evento disponível no momento.</p>
        {% endfor %}
    </div>
</div>


{% endblock %}
